.App {
  text-align: center;
}

table{
  border: 1px solid lightblue;
  width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
}

tr{
  border-bottom: 1px solid #eee;

}

table tr:nth-child(1){
  background-color: white;
  height: 50px;
}

td{
  border-right: 1px solid #eee;
}

th{
  border-right: 1px solid #eee;
}